.left-sidebar-grid {
    display: grid;
    background-color: #d5ff9c;
    flex-direction: column;
    min-height: 100vh;
    grid-template-areas:
        'header'
        'main-content'
        'navbar'
        'footer';
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-areas:
        'header header header header'
        'navbar main-content main-content main-content'
        'footer footer footer footer';
}

.left-sidebar-grid > * {
    padding: 5.5rem;
    line-height: 1.5;
    font-family: Consolas, monaco, monospace;
}

.left-sidebar-grid > .header {
    grid-area: header;
    text-align: center;
    flex-shrink: 0;
    padding: 2rem;
    font-size: 2em;
    overflow-y: hidden;
    color: #ff9cc7;
    background: #ff3333;
}

.left-sidebar-grid > .main-content {
    grid-area: main-content;
    max-height: 350px;
    flex-grow: 1;
    overflow-y: auto;
    color: #ff3333;
    background: #d5ff9c;
}

.left-sidebar-grid > .navbar {
    grid-area: navbar;
    text-align: center;
    min-height: 400px;
    position: -webkit-sticky;
    position: sticky;
    font-size: 1.5em;
    line-height: 2;
    padding-left: 1em;
    padding-bottom: 2em;
    overflow-y: hidden;
    color: #ff3333;
    background:#ff9cc7;
}

.left-sidebar-grid > .footer {
    grid-area: footer;
    margin-top: auto;
    text-align: center;
    overflow-y: hidden;
    color: #d5ff9c;
    background: #ff3333;
}

.red-link:link {
    color: #ff3333;
    text-decoration: none;
}

.red-link:visited {
    color: #ff3333;
    text-decoration: none;
}

.red-link:hover {
    color: #ff3333;
    text-decoration: underline;
}

.footer-link:link {
    color: #d5ff9c;
    text-decoration: underline;
}

.footer-link:visited {
    color: #d5ff9c;
    text-decoration: underline;
}

.footer-link:hover {
    color: #d5ff9c;
    text-decoration: none;
}

.main-link:link {
    color: #ff3333;
    text-decoration: none;
}

.main-link:visited {
    color: #ff3333;
    text-decoration: none;
}

.main-link:hover {
    color: #ff3333;
    text-decoration: underline;
}

.main-u-link:link {
    color: #ff3333;
    text-decoration: underline;
}

.main-u-link:visited {
    color: #ff3333;
    text-decoration: underline;
}

.main-u-link:hover {
    color: #ff3333;
    text-decoration: none;
}

hr {
    background-color: #ff3333;
    height: 1px;
    border: 0;
}

input {
    border: 2px solid #ff3333;
    border-radius: 4px;
    background-color: #d5ff9c;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

input:focus {
    outline: solid #ff3333;
    border-radius: 4px;
    background-color: #d5ff9c;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

input[type=radio] {
    accent-color: #ff3333;
    border: none;
    border-radius: none;
    outline: none;
}

input[type=radio]:checked {
    accent-color: #ff3333;
    border: none;
    border-radius: none;
    outline: none;
}

.nav-input {
    border: 2px solid #ff3333;
    border-radius: 4px;
    background-color: #ff9cc7;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

.nav-input:focus {
    outline: solid #ff3333;
    border-radius: 4px;
    background-color: #ff9cc7;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

textarea {
    border: 2px solid #ff3333;
    border-radius: 4px;
    background-color: #d5ff9c;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

textarea:focus {
    outline: solid #ff3333;
    border-radius: 4px;
    background-color: #d5ff9c;
    color: #ff3333;
    font-family: Consolas, monaco, monospace;
}

select {
    color: #ff3333;
    background-color: #d5ff9c;
    border: 2px solid #ff3333;
    border-radius: 4px;
    font-family: Consolas, monaco, monospace;
}

select:focus {
    color: #ff3333;
    background-color: #d5ff9c;
    outline: 2px solid #ff3333;
    border-radius: 4px;
    font-family: Consolas, monaco, monospace;
}