{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h3>Etusivu</h3>

<p>

Arkikarkelot on luotu tekemään juuri <i>sinun</i> arjesta juhlaa!
Inspiroidu kasvispainotteisesta ruoanlaitosta ja loihdi mitä ihanimmat
arkiruoat pöytääsi käyttäjiemme luomien reseptien avulla. 
Anna myös omasta padastasi ja tallenna suosikkireseptisi muiden kokattavaksi.
<br>
Arkikarkelot alkakoon, vatsa ja ympäristö kiittää!
<br>

<hr>

{% if tops %}
<h3>Top 3 reseptit: 😋</h3>

<ol>
{% for top in tops %}
<li><a style="text-decoration:none" href="/recipe/{{ top.recipe_id }}">{{ top.name }}</a>
{% endfor %}
</ol>

<hr>
{% endif %}

{% endblock %}