<!doctype html>
<html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Arkikarkelot{% endblock %}</title>

<div class="left-sidebar-grid">
    <header class="header"><h1><b>ARKIKARKELOT</b></h1></header>
    <main class="main-content">{% block content %}{% endblock %}</main>
    <nav class="navbar">
        🍓 <a class="red-link" href="/">Etusivu</a> <br>
        🥦 <a class="red-link" href="/categories">Kategoriat</a> <br>
        {% if session.user_id %}
        🍋 <a class="red-link" href="/profile/{{ session.user_id }}">Oma profiili</a> <br>
        {% endif %}
        <p>
        <form action="/result" method="GET">
        Hae reseptiä: <br>
        <input type="text" class="nav-input" name="query"><input type="submit" class="nav-input" value=🔎>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token}}">
        </form>   
    </nav>
    <footer class="footer">
        {% if session.user_id and session.user_role == 1 %}
        Ihanaa nähdä sinua taas! Mukavia kokkaushetkiä <b>{{ session.user_name }}</b> &#129392; <br>

        {% elif session.user_id and session.user_role == 2 %}
        Tervetuloa ylläpitäjä, <b>{{ session.user_name }}.</b>

        {% else %}
        Et ole kirjautunut sisään. <a class="footer-link" href="/login">Kirjaudu sisään</a> tai <a class="footer-link" href="/register">luo uusi profiili</a>.
        {% endif %}

        <br>

        {% if session.user_id %}
        <a class="footer-link" href="/logout">Kirjaudu ulos</a>
        {% endif %}
    </footer>
</div>

</html>
