{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<h2>{{ session.user_name }}</h2>

{% if session.user_role == 1 %}

{% if not recipes %}
Sinulla ei ole reseptejä Arkikarkeloissa, <br>
palaa takaisin <a href="/">etusivulle</a> päästäksesi alkuun! <br>
{% endif %}

<p>

{% if recipes %}
<b>Omat reseptit:</b> <br>
<ul>
{% for recipe in recipes %}
<li><a href="/recipe/{{ recipe.id}}">{{ recipe.name }}</a> <br>
    Luotu: {{ recipe.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
</li>
{% endfor %}
</ul>
{% endif %}

<p>

{% if recipes %}
<a href="/remove"><b>Poista resepti</b></a>
{% endif %}

<p>
<a href="/favorites/{{ session.user_id }}"><h3>Suosikit</h3></a>

{% endif %}

{% if session.user_role == 2 %}

<ul>
    <li> <a href="/remove_cat">Poista kategoria</a>
    <li> <a href="/new_cat">Lisää uusi kategoria</a>
    <li> <a href="/admin_remove">Hallinnoi reseptejä</a>
</ul>

{% endif %}

{% endblock %}