{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<h2><u>{{ session.user_name }}</u></h2>

<p>

{% if session.user_role == 1 %}

{% if not recipes %}
Sinulla ei ole reseptejä Arkikarkeloissa, <br>
palaa takaisin <a class="main-link" href="/">etusivulle</a> päästäksesi alkuun! <br>
{% endif %}

<p>

{% if recipes %}
<h3>Omat reseptit:</h3>
{% for recipe in recipes %}
<li><a class="main-link" href="/recipe/{{ recipe.id}}"><b>{{ recipe.name }}</b></a> <br>
    Luotu: {{ recipe.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br>
</li>
{% endfor %}
</ul>
{% endif %}

<p>

{% if recipes %}
<a class="red-link" href="/remove"><h3>❌ Poista resepti</h3></a>
{% endif %}

<p>
<a class="red-link" href="/favorites/{{ session.user_id }}"><h3>💖 Suosikit</h3></a>

{% endif %}

{% if session.user_role == 2 %}

<ul>
    <li> <a class="main-u-link" href="/remove_cat">Poista kategoria</a>
    <li> <a class="main-u-link" href="/new_cat">Lisää uusi kategoria</a>
    <li> <a class="main-u-link" href="/admin_remove">Hallinnoi reseptejä</a>
</ul>

{% endif %}

{% endblock %}