{% extends "layout.html" %}
{% block title %}{{ name }}{% endblock %}
{% block content %}

<h2>{{ name }}</h2>
<p>
<b>Reseptin takana:</b> {{ creator }} <br>
<b>Valmistusaika:</b> {{ time }} min <br>
<p>
<b>Ainesosat:</b> <br>
{% for line in ingredients.splitlines() %}
    {{ line }} <br>
{% endfor %}
<p>
<b>Valmistusohjeet:</b> <br>
{% for line in instructions.splitlines() %}
    {{ line }} <br>
{% endfor %}
<p>

<hr> 

{% if session.user_role == 1 and check_favorites == 0 and session.user_id != creator_id %}
<form action="/add_favorite" method="POST">
Lisää suosikiksi <input type="submit" value=&#128152;>
<input type="hidden" name="recipe_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

{% if session.user_role == 1 and check_favorites == 1 and visible == 0 and session.user_id != creator_id %}
<form action="/favorite" method="POST">
Lisää suosikiksi <input type="submit" value=&#128152;>
<input type="hidden" name="recipe_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

{% if session.user_role == 1 and check_favorites == 1 and visible == 1 and session.user_id != creator_id %}
Olet lisännyt reseptin suosikkeihin!
<form action="/remove_fav" method="POST">
<br>
Poista suosikeista <input type="submit" value=&#128148;>
<input type="hidden" name="recipe_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endif %}

<p>

{% if reviews %}
<h3>Arvostelut ja kommentit:</h3>
{% endif %}

<ul>
{% for review in reviews %}
<li> {{ review[0] }} ({{ review[1] }}/5): "{{ review[2] }}"
{% endfor %}
</ul>

{% if session.user_id and session.user_id != creator_id %}
<h3>Jätä kommentti 💌</h3>
<form action="/review" method="POST">
Tähdet:
<select name="stars">
<option value="1">1
<option value="2">2
<option value="3">3
<option value="4">4
<option value="5">5
</select>
<p>
Kommentti: <br>
<textarea name="comment" rows="3" cols="40" maxlength="1000"></textarea>
<p>
<input type="submit" class="nav-input" value="Lähetä">
<input type="hidden" name="recipe_id" value="{{ id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<hr>
{% endif %}

{% endblock %}